
.section__article {
    margin: 30px auto;
    width: 80%;
    height: 100%;
}
.article__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    // margin-top: 10px;
}

.article__description {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.article__title {
    text-shadow: 0px 0px 10px rgba(177, 177, 177, .7);
}

.article__price {
    text-shadow: 0px 0px 10px rgba(177, 177, 177, .7);
}

.button__goToCart {
    margin: 0 auto;
    padding: .4em .8em;
    border-top-left-radius: 8px;
    color: rgb(237, 207, 167);
    font-style: italic;
    font-weight: 600;
    border-bottom-right-radius: 8px;
    font-size: 1.1rem;
    width: 250px;
    background-color: transparent;
    border: 2px solid rgb(237, 207, 167);
    cursor: pointer;

    &:hover {
        color: white;
        animation: transitionColorButton .7s forwards;

    }
}

@keyframes transitionColorButton {
    100% {
        background-color: rgb(237, 207, 167);
    }

}
//= MEDIA QUERIES

@media (min-width: 1024px) {
    .section__article {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        // margin-top: -40px;
        width: 80%;
        max-width: 1050px;
        height: 80vh;
    }

    .article__wrapper {
        // background-color: red;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        // overflow-y: scroll;

    }

    .wrapper__img {
        align-self: center;
    }

    .article__img {
        max-height: 80%;
        // max-height: ;
        align-self: center;
    }

    .article__wrapperDescription {
        width: 1500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        height: 100%;
        // background-color: brown;

    }

    .article__description {
        height: 100%;
    }

    .article__detail {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
        padding: 20px 20px;
        line-height: 1.4em;
        overflow-y: auto;
        /* Style the scrollbar handle */
        scrollbar-color: var(--beige) rgba(66,66,66,.1);

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: rgba(66,66,66,.1);
          }

        &::-webkit-scrollbar-thumb {
            background: var(--beige);
            border-radius: 5px;
        }
    }

}

.link {
    color: inherit;
    text-decoration: none;
}

.linkFollowingBuy {
    margin-top: 10px;
    text-decoration: underline;
    font-style: italic;
    color: rgb(237, 207, 167);
    letter-spacing: .6px;
    font-size: 1.1rem;

    &:hover {
        text-shadow: 0px 0px 10px rgba(177, 177, 177, .7);
    }
}

.goToCartSpan {
    margin-top: 10px;
    color: rgb(237, 207, 167);
}


.wrapper__goToCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swal-height {
    height: 80vh;
}