.main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        width: 100%;
        text-align: center;
        background: -webkit-linear-gradient(75deg, var(--beige), rgb(145, 145, 130));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        // text-shadow: 0 0 5px grey;
    }
}


.section {
    &__container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    &__article {
    // border: 3px inset rgba(237, 207, 167, .7);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(16px);
    box-shadow: 5px 0 50px rgba(237, 207, 167, .9);
    }

    &__titleLogo {
        font-family: 'Dancing';
        letter-spacing: 0.2em;
        font-size: 3em;
        transform: rotate(-1deg);
        color: rgba(237, 207, 167, .7);
        border-bottom: 2px solid rgba(237, 207, 167, .6);
        margin-top: -25px;
        margin-bottom: 10px;
        // display: none;
    }

    &__titleCategory {
        display: block;
        width: 100%;
        background: -webkit-linear-gradient(75deg, var(--beige), rgb(145, 145, 130));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-style: italic;
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
}




.logo-marbis {
    background-color: rgb(237, 207, 167);
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #999);
    text-align: center;
    font-size: 1.5em;
    width: 150px;
    margin-top: -40px;
    & span {
        color: white;
    }

    &__subrayado {
        border-bottom: 2px solid white;

    }
}


@media (min-width: 767px) {
    .section__titleCategory {
        font-size: 1.8rem;
    }

    .section__titleLogo {
        display: block;
    }
}
@media (min-width: 1024px) {
    .section__titleCategory {
        font-size: 2.3rem;
    }
}

