.main {
    width: 90%;
    margin: 0 auto;

    &__title {
        width: 100%;
        text-align: center;
        background: -webkit-linear-gradient(75deg, var(--beige), rgb(145, 145, 130));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // text-shadow: 0 0 5px grey;
    }
}


h1 {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    color: black;
}

span {
    color: black
}

.section__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}

.section__article {
    // border: 3px inset rgba(237, 207, 167, .7);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(16px);
    box-shadow: 5px 0 50px rgba(237, 207, 167, .9);

}