//Variables
$beige: rgb(237, 207, 167);
$esmeralda: rgba(17,42, 42, .7);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline-style: none;
}


ul {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

// *:focus {
//     outline: none;
// }

*::selection {
    color: white;
    background: var(--beige);
}
/* For Mozilla Firefox */
::-moz-selection {
    color: white;
    background: var(--beige);
}

textarea:focus, input:focus{ border: none; }

body {
    background-color: rgba(222,222,222, .9);
    // height: 2000px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    // backdrop-filter: blur(3px); /* Chrome and Opera */
    scroll-behavior: smooth;
    color: rgb(237, 207, 167);
    // font-family: 'Raleway';
    // background-color: rgba(17,42, 42, .7);
    background-color: white;
    height: 100vh;

    /*Eliminar Highlight azul al clickear elementos*/
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);

}


@font-face {
    font-family: "Futura";
    src: url(./fonts/Futura-Light.otf);
}

@font-face {
    font-family: "Satisfy";
    src: url(./fonts/Satisfy-Regular.ttf);
}


@font-face {
    font-family: "Dancing";
    src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}
